@mixin motion-slidebounce($property: all) {
  transition: $property
    cubic-bezier(
      0.4399999976158142,
      0.12999999523162842,
      0.6616666316986084,
      1.5133333206176758
    )
    0.3s;
}

@mixin motion-slideslow($property: all) {
  transition: $property cubic-bezier(0, 0, 0.5799999833106995, 1) 3s;
}

@mixin motion-slidelinear($property: all) {
  transition: $property cubic-bezier(0, 0, 1, 1) 0.25s;
}
