$hero-clamp: normal normal 500 clamp(2.75rem, 1.5rem + 2.5vw, 4rem) /
  clamp(3.5rem, 2.5rem + 2vw, 4.5rem) "Berthold Akzidenz Grotesk";
$heading-a-clamp: normal normal 500 clamp(2.5rem, 1.5rem + 2vw, 3.5rem) /
  clamp(3rem, 2rem + 2vw, 4rem) "Berthold Akzidenz Grotesk";
$heading-b-clamp: normal normal 500 clamp(2.5rem, 2rem + 1vw, 3rem) /
  clamp(3rem, 2.5rem + 1vw, 3.5rem) "Berthold Akzidenz Grotesk";
$heading-c-clamp: normal normal 500 clamp(2rem, 1.5rem + 1vw, 2.5rem) /
  clamp(2.5rem, 2rem + 1vw, 3rem) "Berthold Akzidenz Grotesk";
$heading-d-clamp: normal normal 500 clamp(1.5rem, 1rem + 1vw, 2rem) /
  clamp(2rem, 1.5rem + 1vw, 2.5rem) "Berthold Akzidenz Grotesk";
$heading-e-clamp: normal normal 500 clamp(1.75rem, 2rem + -0.5vw, 1.5rem) /
  clamp(2rem, 2rem + 0vw, 2rem) "Berthold Akzidenz Grotesk";
$heading-f-clamp: normal normal 500 clamp(1.25rem, 1.25rem + 0vw, 1.25rem) /
  clamp(1.5rem, 1.5rem + 0vw, 1.5rem) "Berthold Akzidenz Grotesk";
$sub-heading-a-clamp: normal normal 400 clamp(1.5rem, 1.5rem + 0vw, 1.5rem) /
  clamp(2rem, 2rem + 0vw, 2rem) "Berthold Akzidenz Grotesk";
$sub-heading-a-med-clamp: normal normal 500 clamp(1.5rem, 1.5rem + 0vw, 1.5rem) /
  clamp(2rem, 2rem + 0vw, 2rem) "Berthold Akzidenz Grotesk";
$sub-heading-b-clamp: normal normal 400 clamp(1.125rem, 1rem + 0.25vw, 1.25rem) /
  clamp(1.5rem, 1.25rem + 0.5vw, 1.75rem) "Berthold Akzidenz Grotesk";
$sub-heading-b-med-clamp: normal normal 500
  clamp(1.125rem, 1rem + 0.25vw, 1.25rem) /
  clamp(1.5rem, 1.25rem + 0.5vw, 1.75rem) "Berthold Akzidenz Grotesk";
$body-text-lg-link-clamp: normal normal 400
  clamp(1.125rem, 1rem + 0.25vw, 1.25rem) / clamp(1.5rem, 1rem + 1vw, 2rem)
  "Berthold Akzidenz Grotesk";
$body-text-lg-clamp: normal normal 400 clamp(1.125rem, 1rem + 0.25vw, 1.25rem) /
  clamp(1.5rem, 1rem + 1vw, 2rem) "Berthold Akzidenz Grotesk";
$body-text-lg-med-clamp: normal normal 500
  clamp(1.125rem, 1rem + 0.25vw, 1.25rem) / clamp(1.5rem, 1rem + 1vw, 2rem)
  "Berthold Akzidenz Grotesk";
