$breakpoints-xxl: 7.5rem;
$breakpoints-xl: 6.25rem;
$breakpoints-lg: 4.6875rem;
$breakpoints-md: 3.125rem;
$breakpoints-sm: 1.5625rem;
$motion-slidebounce: cubic-bezier(
  0.4399999976158142,
  0.12999999523162842,
  0.6616666316986084,
  1.5133333206176758
);
$motion-slideslow: cubic-bezier(0, 0, 0.5799999833106995, 1);
$motion-slidelinear: cubic-bezier(0, 0, 1, 1);
$color-charcoal: #231f20;
$color-suva: #f0f0f0;
$color-true-white: #fff;
$color-carmine: #ff3951;
$color-mos-red: #ee3124;
$color-soft-carmine: #ffdee2;
$color-orion: #0e17f6;
$color-ultramarine: #000694;
$color-soft-orion: #e7f0ff;
$color-shocking-pink: #fa46cf;
$color-flamingo: #a1027b;
$color-persimmon: #ff7a00;
$color-vermillion: #ff4b00;
$color-soft-persimmon: #ffe4cb;
$color-neon-green: #00f490;
$color-malachite: #01a863;
$color-soft-neon: #dffff2;
$color-iron: #5b5956;
$gradient-carmine-gradient: linear-gradient(
  179.58605714320078deg,
  rgb(250 53 9) 0%,
  rgb(255 57 81) 100%
);
$gradient-ultramarine-gradient: linear-gradient(
  179.58605714320078deg,
  rgb(0 6 148) 0%,
  rgb(14 23 246) 100%
);
$gradient-flamingo-gradient: linear-gradient(
  179.58605714320078deg,
  rgb(161 2 123) 0%,
  rgb(250 70 207) 100%
);
$gradient-vermillion-gradient: linear-gradient(
  179.58605714320078deg,
  rgb(255 75 0) 0%,
  rgb(255 122 0) 100%
);
$gradient-malachite-gradient: linear-gradient(
  179.58605714320078deg,
  rgb(1 168 99) 0%,
  rgb(0 244 144) 100%
);
$gradient-suva-linear: linear-gradient(
  180deg,
  rgb(240 240 240) 0%,
  rgb(255 255 255 / 0%) 100%
);
$font-heading: 400 0.75rem/0.9rem "Inter";
$font-desktop-hero: 500 4rem/4.5rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-a: 500 3.5rem/4rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-b: 500 3rem/3.5rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-c: 500 2.5rem/3rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-d: 500 2rem/2.5rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-e: 500 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-desktop-heading-f: 500 1.25rem/1.5rem "Berthold Akzidenz Grotesk";
$font-desktop-sub-heading-a: 400 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-desktop-sub-heading-a-med: 500 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-desktop-sub-heading-b: 400 1.25rem/1.75rem "Berthold Akzidenz Grotesk";
$font-desktop-sub-heading-b-med: 500 1.25rem/1.75rem "Berthold Akzidenz Grotesk";
$font-desktop-body-text-lg-link: 400 1.25rem/2rem "Berthold Akzidenz Grotesk";
$font-desktop-body-text-lg: 400 1.25rem/2rem "Berthold Akzidenz Grotesk";
$font-desktop-body-text-lg-med: 500 1.25rem/2rem "Berthold Akzidenz Grotesk";
$font-mobile-hero: 500 2.75rem/3.5rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-a: 500 2.5rem/3rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-b: 500 2.5rem/3rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-c: 500 2rem/2.5rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-d: 500 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-e: 500 1.75rem/2rem "Berthold Akzidenz Grotesk";
$font-mobile-heading-f: 500 1.25rem/1.5rem "Berthold Akzidenz Grotesk";
$font-mobile-sub-heading-a: 400 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-mobile-sub-heading-a-med: 500 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-mobile-sub-heading-b: 400 1.125rem/1.5rem "Berthold Akzidenz Grotesk";
$font-mobile-sub-heading-b-med: 500 1.125rem/1.5rem "Berthold Akzidenz Grotesk";
$font-mobile-body-text-lg: 400 1.125rem/1.5rem "Berthold Akzidenz Grotesk";
$font-mobile-body-text-lg-med: 500 1.125rem/1.5rem "Berthold Akzidenz Grotesk";
$font-mobile-body-text-lg-link: 400 1.125rem/1.5rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xxl: 400 2rem/2.5rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xxl-med: 500 2rem/2.5rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xl: 400 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xl-med: 500 1.5rem/2rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-lg: 400 1.25rem/1.5rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-lg-med: 500 1.25rem/1.25rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-md: 400 1.125rem/1.25rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-md-med: 500 1.125rem/1.25rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-sm: 400 1rem/1rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-sm-med: 500 1rem/1.25rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xs: 400 0.875rem/1rem "Berthold Akzidenz Grotesk";
$font-ui-label-ui-label-xs-med: 500 0.875rem/1.25rem "Berthold Akzidenz Grotesk";
$font-legal-legal-text: 400 0.75rem/1.125rem "Berthold Akzidenz Grotesk";
$font-legal-legal-text-lg-med: 500 0.75rem/1.125rem "Berthold Akzidenz Grotesk";
$font-eyebrow-eyebrow-med: 500 1.125rem/1.25rem "Berthold Akzidenz Grotesk";
$font-caption-caption-text: 400 1rem/1.5rem "Berthold Akzidenz Grotesk";
$font-heading-1-desktop: 400 0.75rem/0.9rem "Inter";
$variable-collection-mode-1-orion-phaze: #fff0;
$typography-heading-font-size: 0.046875rem;
$typography-heading-text-decoration: none;
$typography-heading-font-family: inter;
$typography-heading-font-weight: 400;
$typography-heading-font-style: normal;
$typography-heading-font-stretch: normal;
$typography-heading-letter-spacing: 0;
$typography-heading-line-height: 0.05625rem;
$typography-heading-paragraph-indent: 0;
$typography-heading-paragraph-spacing: 0;
$typography-heading-text-case: none;
$typography-desktop-hero-font-size: 0.25rem;
$typography-desktop-hero-text-decoration: none;
$typography-desktop-hero-font-family: berthold akzidenz grotesk;
$typography-desktop-hero-font-weight: 500;
$typography-desktop-hero-font-style: normal;
$typography-desktop-hero-font-stretch: normal;
$typography-desktop-hero-letter-spacing: 0;
$typography-desktop-hero-line-height: 0.28125rem;
$typography-desktop-hero-paragraph-indent: 0;
$typography-desktop-hero-paragraph-spacing: 0;
$typography-desktop-hero-text-case: none;
$typography-desktop-heading-a-font-size: 0.21875rem;
$typography-desktop-heading-a-text-decoration: none;
$typography-desktop-heading-a-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-a-font-weight: 500;
$typography-desktop-heading-a-font-style: normal;
$typography-desktop-heading-a-font-stretch: normal;
$typography-desktop-heading-a-letter-spacing: 0;
$typography-desktop-heading-a-line-height: 0.25rem;
$typography-desktop-heading-a-paragraph-indent: 0;
$typography-desktop-heading-a-paragraph-spacing: 0;
$typography-desktop-heading-a-text-case: none;
$typography-desktop-heading-b-font-size: 0.1875rem;
$typography-desktop-heading-b-text-decoration: none;
$typography-desktop-heading-b-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-b-font-weight: 500;
$typography-desktop-heading-b-font-style: normal;
$typography-desktop-heading-b-font-stretch: normal;
$typography-desktop-heading-b-letter-spacing: 0;
$typography-desktop-heading-b-line-height: 0.21875rem;
$typography-desktop-heading-b-paragraph-indent: 0;
$typography-desktop-heading-b-paragraph-spacing: 0;
$typography-desktop-heading-b-text-case: none;
$typography-desktop-heading-c-font-size: 0.15625rem;
$typography-desktop-heading-c-text-decoration: none;
$typography-desktop-heading-c-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-c-font-weight: 500;
$typography-desktop-heading-c-font-style: normal;
$typography-desktop-heading-c-font-stretch: normal;
$typography-desktop-heading-c-letter-spacing: 0;
$typography-desktop-heading-c-line-height: 0.1875rem;
$typography-desktop-heading-c-paragraph-indent: 0;
$typography-desktop-heading-c-paragraph-spacing: 0;
$typography-desktop-heading-c-text-case: none;
$typography-desktop-heading-d-font-size: 0.125rem;
$typography-desktop-heading-d-text-decoration: none;
$typography-desktop-heading-d-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-d-font-weight: 500;
$typography-desktop-heading-d-font-style: normal;
$typography-desktop-heading-d-font-stretch: normal;
$typography-desktop-heading-d-letter-spacing: 0;
$typography-desktop-heading-d-line-height: 0.15625rem;
$typography-desktop-heading-d-paragraph-indent: 0;
$typography-desktop-heading-d-paragraph-spacing: 0;
$typography-desktop-heading-d-text-case: none;
$typography-desktop-heading-e-font-size: 0.09375rem;
$typography-desktop-heading-e-text-decoration: none;
$typography-desktop-heading-e-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-e-font-weight: 500;
$typography-desktop-heading-e-font-style: normal;
$typography-desktop-heading-e-font-stretch: normal;
$typography-desktop-heading-e-letter-spacing: 0;
$typography-desktop-heading-e-line-height: 0.125rem;
$typography-desktop-heading-e-paragraph-indent: 0;
$typography-desktop-heading-e-paragraph-spacing: 0;
$typography-desktop-heading-e-text-case: none;
$typography-desktop-heading-f-font-size: 0.078125rem;
$typography-desktop-heading-f-text-decoration: none;
$typography-desktop-heading-f-font-family: berthold akzidenz grotesk;
$typography-desktop-heading-f-font-weight: 500;
$typography-desktop-heading-f-font-style: normal;
$typography-desktop-heading-f-font-stretch: normal;
$typography-desktop-heading-f-letter-spacing: 0;
$typography-desktop-heading-f-line-height: 0.09375rem;
$typography-desktop-heading-f-paragraph-indent: 0;
$typography-desktop-heading-f-paragraph-spacing: 0;
$typography-desktop-heading-f-text-case: none;
$typography-desktop-sub-heading-a-font-size: 0.09375rem;
$typography-desktop-sub-heading-a-text-decoration: none;
$typography-desktop-sub-heading-a-font-family: berthold akzidenz grotesk;
$typography-desktop-sub-heading-a-font-weight: 400;
$typography-desktop-sub-heading-a-font-style: normal;
$typography-desktop-sub-heading-a-font-stretch: normal;
$typography-desktop-sub-heading-a-letter-spacing: 0;
$typography-desktop-sub-heading-a-line-height: 0.125rem;
$typography-desktop-sub-heading-a-paragraph-indent: 0;
$typography-desktop-sub-heading-a-paragraph-spacing: 0;
$typography-desktop-sub-heading-a-text-case: none;
$typography-desktop-sub-heading-a-med-font-size: 0.09375rem;
$typography-desktop-sub-heading-a-med-text-decoration: none;
$typography-desktop-sub-heading-a-med-font-family: berthold akzidenz grotesk;
$typography-desktop-sub-heading-a-med-font-weight: 500;
$typography-desktop-sub-heading-a-med-font-style: normal;
$typography-desktop-sub-heading-a-med-font-stretch: normal;
$typography-desktop-sub-heading-a-med-letter-spacing: 0;
$typography-desktop-sub-heading-a-med-line-height: 0.125rem;
$typography-desktop-sub-heading-a-med-paragraph-indent: 0;
$typography-desktop-sub-heading-a-med-paragraph-spacing: 0;
$typography-desktop-sub-heading-a-med-text-case: none;
$typography-desktop-sub-heading-b-font-size: 0.078125rem;
$typography-desktop-sub-heading-b-text-decoration: none;
$typography-desktop-sub-heading-b-font-family: berthold akzidenz grotesk;
$typography-desktop-sub-heading-b-font-weight: 400;
$typography-desktop-sub-heading-b-font-style: normal;
$typography-desktop-sub-heading-b-font-stretch: normal;
$typography-desktop-sub-heading-b-letter-spacing: 0;
$typography-desktop-sub-heading-b-line-height: 0.109375rem;
$typography-desktop-sub-heading-b-paragraph-indent: 0;
$typography-desktop-sub-heading-b-paragraph-spacing: 0;
$typography-desktop-sub-heading-b-text-case: none;
$typography-desktop-sub-heading-b-med-font-size: 0.078125rem;
$typography-desktop-sub-heading-b-med-text-decoration: none;
$typography-desktop-sub-heading-b-med-font-family: berthold akzidenz grotesk;
$typography-desktop-sub-heading-b-med-font-weight: 500;
$typography-desktop-sub-heading-b-med-font-style: normal;
$typography-desktop-sub-heading-b-med-font-stretch: normal;
$typography-desktop-sub-heading-b-med-letter-spacing: 0;
$typography-desktop-sub-heading-b-med-line-height: 0.109375rem;
$typography-desktop-sub-heading-b-med-paragraph-indent: 0;
$typography-desktop-sub-heading-b-med-paragraph-spacing: 0;
$typography-desktop-sub-heading-b-med-text-case: none;
$typography-desktop-body-text-lg-link-font-size: 0.078125rem;
$typography-desktop-body-text-lg-link-text-decoration: underline;
$typography-desktop-body-text-lg-link-font-family: berthold akzidenz grotesk;
$typography-desktop-body-text-lg-link-font-weight: 400;
$typography-desktop-body-text-lg-link-font-style: normal;
$typography-desktop-body-text-lg-link-font-stretch: normal;
$typography-desktop-body-text-lg-link-letter-spacing: 0;
$typography-desktop-body-text-lg-link-line-height: 0.125rem;
$typography-desktop-body-text-lg-link-paragraph-indent: 0;
$typography-desktop-body-text-lg-link-paragraph-spacing: 0;
$typography-desktop-body-text-lg-link-text-case: none;
$typography-desktop-body-text-lg-font-size: 0.078125rem;
$typography-desktop-body-text-lg-text-decoration: none;
$typography-desktop-body-text-lg-font-family: berthold akzidenz grotesk;
$typography-desktop-body-text-lg-font-weight: 400;
$typography-desktop-body-text-lg-font-style: normal;
$typography-desktop-body-text-lg-font-stretch: normal;
$typography-desktop-body-text-lg-letter-spacing: 0;
$typography-desktop-body-text-lg-line-height: 0.125rem;
$typography-desktop-body-text-lg-paragraph-indent: 0;
$typography-desktop-body-text-lg-paragraph-spacing: 0;
$typography-desktop-body-text-lg-text-case: none;
$typography-desktop-body-text-lg-med-font-size: 0.078125rem;
$typography-desktop-body-text-lg-med-text-decoration: none;
$typography-desktop-body-text-lg-med-font-family: berthold akzidenz grotesk;
$typography-desktop-body-text-lg-med-font-weight: 500;
$typography-desktop-body-text-lg-med-font-style: normal;
$typography-desktop-body-text-lg-med-font-stretch: normal;
$typography-desktop-body-text-lg-med-letter-spacing: 0;
$typography-desktop-body-text-lg-med-line-height: 0.125rem;
$typography-desktop-body-text-lg-med-paragraph-indent: 0;
$typography-desktop-body-text-lg-med-paragraph-spacing: 0;
$typography-desktop-body-text-lg-med-text-case: none;
$typography-mobile-hero-font-size: 0.171875rem;
$typography-mobile-hero-text-decoration: none;
$typography-mobile-hero-font-family: berthold akzidenz grotesk;
$typography-mobile-hero-font-weight: 500;
$typography-mobile-hero-font-style: normal;
$typography-mobile-hero-font-stretch: normal;
$typography-mobile-hero-letter-spacing: 0;
$typography-mobile-hero-line-height: 0.21875rem;
$typography-mobile-hero-paragraph-indent: 0;
$typography-mobile-hero-paragraph-spacing: 0;
$typography-mobile-hero-text-case: none;
$typography-mobile-heading-a-font-size: 0.15625rem;
$typography-mobile-heading-a-text-decoration: none;
$typography-mobile-heading-a-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-a-font-weight: 500;
$typography-mobile-heading-a-font-style: normal;
$typography-mobile-heading-a-font-stretch: normal;
$typography-mobile-heading-a-letter-spacing: 0;
$typography-mobile-heading-a-line-height: 0.1875rem;
$typography-mobile-heading-a-paragraph-indent: 0;
$typography-mobile-heading-a-paragraph-spacing: 0;
$typography-mobile-heading-a-text-case: none;
$typography-mobile-heading-b-font-size: 0.15625rem;
$typography-mobile-heading-b-text-decoration: none;
$typography-mobile-heading-b-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-b-font-weight: 500;
$typography-mobile-heading-b-font-style: normal;
$typography-mobile-heading-b-font-stretch: normal;
$typography-mobile-heading-b-letter-spacing: 0;
$typography-mobile-heading-b-line-height: 0.1875rem;
$typography-mobile-heading-b-paragraph-indent: 0;
$typography-mobile-heading-b-paragraph-spacing: 0;
$typography-mobile-heading-b-text-case: none;
$typography-mobile-heading-c-font-size: 0.125rem;
$typography-mobile-heading-c-text-decoration: none;
$typography-mobile-heading-c-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-c-font-weight: 500;
$typography-mobile-heading-c-font-style: normal;
$typography-mobile-heading-c-font-stretch: normal;
$typography-mobile-heading-c-letter-spacing: 0;
$typography-mobile-heading-c-line-height: 0.15625rem;
$typography-mobile-heading-c-paragraph-indent: 0;
$typography-mobile-heading-c-paragraph-spacing: 0;
$typography-mobile-heading-c-text-case: none;
$typography-mobile-heading-d-font-size: 0.09375rem;
$typography-mobile-heading-d-text-decoration: none;
$typography-mobile-heading-d-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-d-font-weight: 500;
$typography-mobile-heading-d-font-style: normal;
$typography-mobile-heading-d-font-stretch: normal;
$typography-mobile-heading-d-letter-spacing: 0;
$typography-mobile-heading-d-line-height: 0.125rem;
$typography-mobile-heading-d-paragraph-indent: 0;
$typography-mobile-heading-d-paragraph-spacing: 0;
$typography-mobile-heading-d-text-case: none;
$typography-mobile-heading-e-font-size: 0.109375rem;
$typography-mobile-heading-e-text-decoration: none;
$typography-mobile-heading-e-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-e-font-weight: 500;
$typography-mobile-heading-e-font-style: normal;
$typography-mobile-heading-e-font-stretch: normal;
$typography-mobile-heading-e-letter-spacing: 0;
$typography-mobile-heading-e-line-height: 0.125rem;
$typography-mobile-heading-e-paragraph-indent: 0;
$typography-mobile-heading-e-paragraph-spacing: 0;
$typography-mobile-heading-e-text-case: none;
$typography-mobile-heading-f-font-size: 0.078125rem;
$typography-mobile-heading-f-text-decoration: none;
$typography-mobile-heading-f-font-family: berthold akzidenz grotesk;
$typography-mobile-heading-f-font-weight: 500;
$typography-mobile-heading-f-font-style: normal;
$typography-mobile-heading-f-font-stretch: normal;
$typography-mobile-heading-f-letter-spacing: 0;
$typography-mobile-heading-f-line-height: 0.09375rem;
$typography-mobile-heading-f-paragraph-indent: 0;
$typography-mobile-heading-f-paragraph-spacing: 0;
$typography-mobile-heading-f-text-case: none;
$typography-mobile-sub-heading-a-font-size: 0.09375rem;
$typography-mobile-sub-heading-a-text-decoration: none;
$typography-mobile-sub-heading-a-font-family: berthold akzidenz grotesk;
$typography-mobile-sub-heading-a-font-weight: 400;
$typography-mobile-sub-heading-a-font-style: normal;
$typography-mobile-sub-heading-a-font-stretch: normal;
$typography-mobile-sub-heading-a-letter-spacing: 0;
$typography-mobile-sub-heading-a-line-height: 0.125rem;
$typography-mobile-sub-heading-a-paragraph-indent: 0;
$typography-mobile-sub-heading-a-paragraph-spacing: 0;
$typography-mobile-sub-heading-a-text-case: none;
$typography-mobile-sub-heading-a-med-font-size: 0.09375rem;
$typography-mobile-sub-heading-a-med-text-decoration: none;
$typography-mobile-sub-heading-a-med-font-family: berthold akzidenz grotesk;
$typography-mobile-sub-heading-a-med-font-weight: 500;
$typography-mobile-sub-heading-a-med-font-style: normal;
$typography-mobile-sub-heading-a-med-font-stretch: normal;
$typography-mobile-sub-heading-a-med-letter-spacing: 0;
$typography-mobile-sub-heading-a-med-line-height: 0.125rem;
$typography-mobile-sub-heading-a-med-paragraph-indent: 0;
$typography-mobile-sub-heading-a-med-paragraph-spacing: 0;
$typography-mobile-sub-heading-a-med-text-case: none;
$typography-mobile-sub-heading-b-font-size: 0.0703125rem;
$typography-mobile-sub-heading-b-text-decoration: none;
$typography-mobile-sub-heading-b-font-family: berthold akzidenz grotesk;
$typography-mobile-sub-heading-b-font-weight: 400;
$typography-mobile-sub-heading-b-font-style: normal;
$typography-mobile-sub-heading-b-font-stretch: normal;
$typography-mobile-sub-heading-b-letter-spacing: 0;
$typography-mobile-sub-heading-b-line-height: 0.09375rem;
$typography-mobile-sub-heading-b-paragraph-indent: 0;
$typography-mobile-sub-heading-b-paragraph-spacing: 0;
$typography-mobile-sub-heading-b-text-case: none;
$typography-mobile-sub-heading-b-med-font-size: 0.0703125rem;
$typography-mobile-sub-heading-b-med-text-decoration: none;
$typography-mobile-sub-heading-b-med-font-family: berthold akzidenz grotesk;
$typography-mobile-sub-heading-b-med-font-weight: 500;
$typography-mobile-sub-heading-b-med-font-style: normal;
$typography-mobile-sub-heading-b-med-font-stretch: normal;
$typography-mobile-sub-heading-b-med-letter-spacing: 0;
$typography-mobile-sub-heading-b-med-line-height: 0.09375rem;
$typography-mobile-sub-heading-b-med-paragraph-indent: 0;
$typography-mobile-sub-heading-b-med-paragraph-spacing: 0;
$typography-mobile-sub-heading-b-med-text-case: none;
$typography-mobile-body-text-lg-font-size: 0.0703125rem;
$typography-mobile-body-text-lg-text-decoration: none;
$typography-mobile-body-text-lg-font-family: berthold akzidenz grotesk;
$typography-mobile-body-text-lg-font-weight: 400;
$typography-mobile-body-text-lg-font-style: normal;
$typography-mobile-body-text-lg-font-stretch: normal;
$typography-mobile-body-text-lg-letter-spacing: 0.00140625rem;
$typography-mobile-body-text-lg-line-height: 0.09375rem;
$typography-mobile-body-text-lg-paragraph-indent: 0;
$typography-mobile-body-text-lg-paragraph-spacing: 0;
$typography-mobile-body-text-lg-text-case: none;
$typography-mobile-body-text-lg-med-font-size: 0.0703125rem;
$typography-mobile-body-text-lg-med-text-decoration: none;
$typography-mobile-body-text-lg-med-font-family: berthold akzidenz grotesk;
$typography-mobile-body-text-lg-med-font-weight: 500;
$typography-mobile-body-text-lg-med-font-style: normal;
$typography-mobile-body-text-lg-med-font-stretch: normal;
$typography-mobile-body-text-lg-med-letter-spacing: 0.00140625rem;
$typography-mobile-body-text-lg-med-line-height: 0.09375rem;
$typography-mobile-body-text-lg-med-paragraph-indent: 0;
$typography-mobile-body-text-lg-med-paragraph-spacing: 0;
$typography-mobile-body-text-lg-med-text-case: none;
$typography-mobile-body-text-lg-link-font-size: 0.0703125rem;
$typography-mobile-body-text-lg-link-text-decoration: underline;
$typography-mobile-body-text-lg-link-font-family: berthold akzidenz grotesk;
$typography-mobile-body-text-lg-link-font-weight: 400;
$typography-mobile-body-text-lg-link-font-style: normal;
$typography-mobile-body-text-lg-link-font-stretch: normal;
$typography-mobile-body-text-lg-link-letter-spacing: 0.00140625rem;
$typography-mobile-body-text-lg-link-line-height: 0.09375rem;
$typography-mobile-body-text-lg-link-paragraph-indent: 0;
$typography-mobile-body-text-lg-link-paragraph-spacing: 0;
$typography-mobile-body-text-lg-link-text-case: none;
$typography-ui-label-ui-label-xxl-font-size: 0.125rem;
$typography-ui-label-ui-label-xxl-text-decoration: none;
$typography-ui-label-ui-label-xxl-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xxl-font-weight: 400;
$typography-ui-label-ui-label-xxl-font-style: normal;
$typography-ui-label-ui-label-xxl-font-stretch: normal;
$typography-ui-label-ui-label-xxl-letter-spacing: 0;
$typography-ui-label-ui-label-xxl-line-height: 0.15625rem;
$typography-ui-label-ui-label-xxl-paragraph-indent: 0;
$typography-ui-label-ui-label-xxl-paragraph-spacing: 0;
$typography-ui-label-ui-label-xxl-text-case: none;
$typography-ui-label-ui-label-xxl-med-font-size: 0.125rem;
$typography-ui-label-ui-label-xxl-med-text-decoration: none;
$typography-ui-label-ui-label-xxl-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xxl-med-font-weight: 500;
$typography-ui-label-ui-label-xxl-med-font-style: normal;
$typography-ui-label-ui-label-xxl-med-font-stretch: normal;
$typography-ui-label-ui-label-xxl-med-letter-spacing: 0;
$typography-ui-label-ui-label-xxl-med-line-height: 0.15625rem;
$typography-ui-label-ui-label-xxl-med-paragraph-indent: 0;
$typography-ui-label-ui-label-xxl-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-xxl-med-text-case: none;
$typography-ui-label-ui-label-xl-font-size: 0.09375rem;
$typography-ui-label-ui-label-xl-text-decoration: none;
$typography-ui-label-ui-label-xl-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xl-font-weight: 400;
$typography-ui-label-ui-label-xl-font-style: normal;
$typography-ui-label-ui-label-xl-font-stretch: normal;
$typography-ui-label-ui-label-xl-letter-spacing: 0;
$typography-ui-label-ui-label-xl-line-height: 0.125rem;
$typography-ui-label-ui-label-xl-paragraph-indent: 0;
$typography-ui-label-ui-label-xl-paragraph-spacing: 0;
$typography-ui-label-ui-label-xl-text-case: none;
$typography-ui-label-ui-label-xl-med-font-size: 0.09375rem;
$typography-ui-label-ui-label-xl-med-text-decoration: none;
$typography-ui-label-ui-label-xl-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xl-med-font-weight: 500;
$typography-ui-label-ui-label-xl-med-font-style: normal;
$typography-ui-label-ui-label-xl-med-font-stretch: normal;
$typography-ui-label-ui-label-xl-med-letter-spacing: 0;
$typography-ui-label-ui-label-xl-med-line-height: 0.125rem;
$typography-ui-label-ui-label-xl-med-paragraph-indent: 0;
$typography-ui-label-ui-label-xl-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-xl-med-text-case: none;
$typography-ui-label-ui-label-lg-font-size: 0.078125rem;
$typography-ui-label-ui-label-lg-text-decoration: none;
$typography-ui-label-ui-label-lg-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-lg-font-weight: 400;
$typography-ui-label-ui-label-lg-font-style: normal;
$typography-ui-label-ui-label-lg-font-stretch: normal;
$typography-ui-label-ui-label-lg-letter-spacing: 0;
$typography-ui-label-ui-label-lg-line-height: 0.09375rem;
$typography-ui-label-ui-label-lg-paragraph-indent: 0;
$typography-ui-label-ui-label-lg-paragraph-spacing: 0;
$typography-ui-label-ui-label-lg-text-case: none;
$typography-ui-label-ui-label-lg-med-font-size: 0.078125rem;
$typography-ui-label-ui-label-lg-med-text-decoration: none;
$typography-ui-label-ui-label-lg-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-lg-med-font-weight: 500;
$typography-ui-label-ui-label-lg-med-font-style: normal;
$typography-ui-label-ui-label-lg-med-font-stretch: normal;
$typography-ui-label-ui-label-lg-med-letter-spacing: 0;
$typography-ui-label-ui-label-lg-med-line-height: 0.078125rem;
$typography-ui-label-ui-label-lg-med-paragraph-indent: 0;
$typography-ui-label-ui-label-lg-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-lg-med-text-case: none;
$typography-ui-label-ui-label-md-font-size: 0.0703125rem;
$typography-ui-label-ui-label-md-text-decoration: none;
$typography-ui-label-ui-label-md-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-md-font-weight: 400;
$typography-ui-label-ui-label-md-font-style: normal;
$typography-ui-label-ui-label-md-font-stretch: normal;
$typography-ui-label-ui-label-md-letter-spacing: 0;
$typography-ui-label-ui-label-md-line-height: 0.078125rem;
$typography-ui-label-ui-label-md-paragraph-indent: 0;
$typography-ui-label-ui-label-md-paragraph-spacing: 0;
$typography-ui-label-ui-label-md-text-case: none;
$typography-ui-label-ui-label-md-med-font-size: 0.0703125rem;
$typography-ui-label-ui-label-md-med-text-decoration: none;
$typography-ui-label-ui-label-md-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-md-med-font-weight: 500;
$typography-ui-label-ui-label-md-med-font-style: normal;
$typography-ui-label-ui-label-md-med-font-stretch: normal;
$typography-ui-label-ui-label-md-med-letter-spacing: 0;
$typography-ui-label-ui-label-md-med-line-height: 0.078125rem;
$typography-ui-label-ui-label-md-med-paragraph-indent: 0;
$typography-ui-label-ui-label-md-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-md-med-text-case: none;
$typography-ui-label-ui-label-sm-font-size: 0.0625rem;
$typography-ui-label-ui-label-sm-text-decoration: none;
$typography-ui-label-ui-label-sm-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-sm-font-weight: 400;
$typography-ui-label-ui-label-sm-font-style: normal;
$typography-ui-label-ui-label-sm-font-stretch: normal;
$typography-ui-label-ui-label-sm-letter-spacing: 0;
$typography-ui-label-ui-label-sm-line-height: 0.0625rem;
$typography-ui-label-ui-label-sm-paragraph-indent: 0;
$typography-ui-label-ui-label-sm-paragraph-spacing: 0;
$typography-ui-label-ui-label-sm-text-case: none;
$typography-ui-label-ui-label-sm-med-font-size: 0.0625rem;
$typography-ui-label-ui-label-sm-med-text-decoration: none;
$typography-ui-label-ui-label-sm-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-sm-med-font-weight: 500;
$typography-ui-label-ui-label-sm-med-font-style: normal;
$typography-ui-label-ui-label-sm-med-font-stretch: normal;
$typography-ui-label-ui-label-sm-med-letter-spacing: 0;
$typography-ui-label-ui-label-sm-med-line-height: 0.078125rem;
$typography-ui-label-ui-label-sm-med-paragraph-indent: 0;
$typography-ui-label-ui-label-sm-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-sm-med-text-case: none;
$typography-ui-label-ui-label-xs-font-size: 0.0546875rem;
$typography-ui-label-ui-label-xs-text-decoration: none;
$typography-ui-label-ui-label-xs-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xs-font-weight: 400;
$typography-ui-label-ui-label-xs-font-style: normal;
$typography-ui-label-ui-label-xs-font-stretch: normal;
$typography-ui-label-ui-label-xs-letter-spacing: 0;
$typography-ui-label-ui-label-xs-line-height: 0.0625rem;
$typography-ui-label-ui-label-xs-paragraph-indent: 0;
$typography-ui-label-ui-label-xs-paragraph-spacing: 0;
$typography-ui-label-ui-label-xs-text-case: none;
$typography-ui-label-ui-label-xs-med-font-size: 0.0546875rem;
$typography-ui-label-ui-label-xs-med-text-decoration: none;
$typography-ui-label-ui-label-xs-med-font-family: berthold akzidenz grotesk;
$typography-ui-label-ui-label-xs-med-font-weight: 500;
$typography-ui-label-ui-label-xs-med-font-style: normal;
$typography-ui-label-ui-label-xs-med-font-stretch: normal;
$typography-ui-label-ui-label-xs-med-letter-spacing: 0;
$typography-ui-label-ui-label-xs-med-line-height: 0.078125rem;
$typography-ui-label-ui-label-xs-med-paragraph-indent: 0;
$typography-ui-label-ui-label-xs-med-paragraph-spacing: 0;
$typography-ui-label-ui-label-xs-med-text-case: none;
$typography-legal-legal-text-font-size: 0.046875rem;
$typography-legal-legal-text-text-decoration: none;
$typography-legal-legal-text-font-family: berthold akzidenz grotesk;
$typography-legal-legal-text-font-weight: 400;
$typography-legal-legal-text-font-style: normal;
$typography-legal-legal-text-font-stretch: normal;
$typography-legal-legal-text-letter-spacing: 0;
$typography-legal-legal-text-line-height: 0.0703125rem;
$typography-legal-legal-text-paragraph-indent: 0;
$typography-legal-legal-text-paragraph-spacing: 0;
$typography-legal-legal-text-text-case: none;
$typography-legal-legal-text-lg-med-font-size: 0.046875rem;
$typography-legal-legal-text-lg-med-text-decoration: none;
$typography-legal-legal-text-lg-med-font-family: berthold akzidenz grotesk;
$typography-legal-legal-text-lg-med-font-weight: 500;
$typography-legal-legal-text-lg-med-font-style: normal;
$typography-legal-legal-text-lg-med-font-stretch: normal;
$typography-legal-legal-text-lg-med-letter-spacing: 0;
$typography-legal-legal-text-lg-med-line-height: 0.0703125rem;
$typography-legal-legal-text-lg-med-paragraph-indent: 0;
$typography-legal-legal-text-lg-med-paragraph-spacing: 0;
$typography-legal-legal-text-lg-med-text-case: none;
$typography-eyebrow-eyebrow-med-font-size: 0.0703125rem;
$typography-eyebrow-eyebrow-med-text-decoration: none;
$typography-eyebrow-eyebrow-med-font-family: berthold akzidenz grotesk;
$typography-eyebrow-eyebrow-med-font-weight: 500;
$typography-eyebrow-eyebrow-med-font-style: normal;
$typography-eyebrow-eyebrow-med-font-stretch: normal;
$typography-eyebrow-eyebrow-med-letter-spacing: 0;
$typography-eyebrow-eyebrow-med-line-height: 0.078125rem;
$typography-eyebrow-eyebrow-med-paragraph-indent: 0;
$typography-eyebrow-eyebrow-med-paragraph-spacing: 0;
$typography-eyebrow-eyebrow-med-text-case: none;
$typography-caption-caption-text-font-size: 0.0625rem;
$typography-caption-caption-text-text-decoration: none;
$typography-caption-caption-text-font-family: berthold akzidenz grotesk;
$typography-caption-caption-text-font-weight: 400;
$typography-caption-caption-text-font-style: normal;
$typography-caption-caption-text-font-stretch: normal;
$typography-caption-caption-text-letter-spacing: 0;
$typography-caption-caption-text-line-height: 0.09375rem;
$typography-caption-caption-text-paragraph-indent: 0;
$typography-caption-caption-text-paragraph-spacing: 0;
$typography-caption-caption-text-text-case: none;
$typography-heading-1-desktop-font-size: 0.046875rem;
$typography-heading-1-desktop-text-decoration: none;
$typography-heading-1-desktop-font-family: inter;
$typography-heading-1-desktop-font-weight: 400;
$typography-heading-1-desktop-font-style: normal;
$typography-heading-1-desktop-font-stretch: normal;
$typography-heading-1-desktop-letter-spacing: 0;
$typography-heading-1-desktop-line-height: 0.05625rem;
$typography-heading-1-desktop-paragraph-indent: 0;
$typography-heading-1-desktop-paragraph-spacing: 0;
$typography-heading-1-desktop-text-case: none;
