.demo {
  &.theme.theme--dark {
    color: white;
    background-color: black;
  }

  &.theme.theme--light {
    color: black;
    background-color: white;
  }

  &.theme.theme--green {
    color: white;
    background-color: forestgreen;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &.pt-xs-clamp {
    padding-top: 4px;
  }

  &.pb-xs-clamp {
    padding-bottom: 4px;
  }

  &.pt-sm-clamp {
    padding-top: 8px;
  }

  &.pb-sm-clamp {
    padding-bottom: 8px;
  }

  &.pt-md-clamp {
    padding-top: 16px;
  }

  &.pb-md-clamp {
    padding-bottom: 16px;
  }

  &.pt-lg-clamp {
    padding-top: 30px;
  }

  &.pb-lg-clamp {
    padding-bottom: 30px;
  }

  &.pt-xl-clamp {
    padding-top: 50px;
  }

  &.pb-xl-clamp {
    padding-bottom: 50px;
  }

  &.pt-0-clamp {
    padding-top: 0;
  }

  &.pb-0-clamp {
    padding-bottom: 0;
  }
}

.demo__col {
  padding: 2rem;
}

.demo__content {
  @include bp-md-min {
    grid-template-columns: 1fr 1fr;
  }

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
