html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: "Helvetica Neue", sans-serif;

  background-image: linear-gradient(
    0deg,
    var(--c-trans-blue) 0%,
    var(--c-trans-blue) 20%, var(--c-trans-pink) 20%,
    var(--c-trans-pink) 40%, var(--c-white) 40%,
    var(--c-white) 60%, var(--c-trans-pink) 60%,
    var(--c-trans-pink) 80%, var(--c-trans-blue) 80%,
    var(--c-trans-blue) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, 100%;

  header,
  footer {
    flex: none;
  }

  main {
    flex: auto;
  }
}

.demo-main {
  @include bp-md-min {
    background-color: black;
  }

  @include bp-lg-min {
    background-color: white;
  }
}
